<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vpaliy.loginconcept">

    <application>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>
</manifest>
